<form action="/songs/<%= @song.slug %>" method="post">
  <input type="hidden" name="_method" value="put">
  Song name: <input id="Name" type="text" name="song[name]" value="<%=@song.name%>"><br><br>

  Artist: <input id="Artist Name" type="text" name="song[artist][name]" value="<%= @artist.name %>"><br><br>

  Genre: <% @genres.each do |genre| %>
    <input type="checkbox" <%='checked' if @genres.include?(genre) %> id="<%= genre.name %>" name="song[genres][]" value="<%=genre.name%>"> <%= genre.name %> </input>
  <% end %><br>


  <input id="Save" type="submit" name="submit">
</form>
