<h1>Create a new song:</h1>

<form action="/songs" method="POST">
  <label for="song_name">Song Name: </label>
  <input type="text" name="song_name" id="Name" value="<%= @song.name %>"/>
  <label for="artist_name">Artist Name: </label>
  <input type="text" name="artist_name" id="Artist Name" value="<%= @artist.name %>"/>

  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" >
      <%= genre.name %>
  <% end %>

  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" id="<%= genre.name%>" value="<%=genre.id%>" <%='checked' if @song.genres.include?(genre) %>><%=genre.name%></input>
  <%end%>
  <input type="submit" name="submit" id="Create" value="Create">
</form>
